<form name="form_show_ranking" action="" method="">
  <!--<input type="hidden" name="id" value=""> -->
</form>

<!-- 総合ランキング -->
<section class="content_area">
  <h3 class="rank_ttl">総合ランキングベスト<span class="rank_number total_font">5</span></h3>
  <div class="content_block" id="toprank_description">
    <div class="first_rank_view">
      <div class="first_rank_points">
        <div class="first_rank_img">
          <img class="first_crown_img" src="img/crown/first_top.png" alt="crownFirst" />
          <p class="first_total_rank">1位</p>
        </div>
        <div class="first_total_point">
          <p><%= total[0].global_point %>pt</p>
        </div>
      </div>
      <div class="first_rank_details">
        <div class="first_rank_details_text">
          <p><a href="./details/author/<%= total[0].auther_id %>"><%= total[0].title %></a></p>
        </div>
        <div class="first_rank_details_data_block">
          <div class="first_rank_details_data_left_right work_info_font_color">
            <p>作者:<%= total[0].auther_name %></p>
          </div>
          <div class="first_rank_details_data_center work_info_font_color">
            <p>カテゴリ:<%= total[0].genre_name %></p>
          </div>
          <div class="first_rank_details_data_left_right work_info_font_color">
            <p>ncode:<%= total[0].ncode %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="notfirst_rank_details">
      <% let totalNum = 0 %>
      <% for(i=1; i<total.length; i++){ %>
        <% let totalNum=i+1 %>
        <% let crownImg="" %>
        <% let pointClass="" %>
        <% let crownImgTag="total_ranks_mark" %>
        <% let pointTag="norfirst_rank_point" %>
        <% let crownCategoryClass="norfirst_rank_category" %>
        <% if(totalNum==2){ %>
          <% crownImg = "img/crown/second.png" %>
          <% pointClass = "second_place" %>
        <% }else if(totalNum==3){ %>
          <% crownImg = "img/crown/third.png" %>
          <% pointClass = "third_place" %>
        <% }else{ %>
          <% crownImg = "img/square/total_square.png" %>
          <% pointClass = "four_five_place" %>
          <% crownImgTag="total_ranks_mark_unnamed" %>
          <% pointTag="norfirst_rank_point_unnamed" %>
          <% crownCategoryClass="norfirst_rank_category_unnamed" %>
        <% } %>
        <div class="notfirst_rank_details_sub">
          <div class="notfirst_rank_subordinate">
            <div class="category_rank_subordinate">
              <div class="norfirst_rank_img">
                <img class="total_crown_img" id="second_crown_img" border="0" src="<%= crownImg %>" alt="crownFirst" />
                <p class="<%= crownImgTag %>"><%= totalNum %>位</p>
              </div>
              <div class="<%= pointTag %> test_center_flex <%= pointClass %>">
                <p><%= total[i].global_point %>pt</p>
              </div>
            </div>
            <div class="<%= crownCategoryClass %> test_center_flex work_info_font_color">
              <p>カテゴリ:<%= total[i].genre_name %></p>
            </div>
          </div>
          <div class="notfirst_rank_details_text test_center_flex">
            <p><a href="./details/author/<%= total[i].auther_id %>"><%= total[i].title %></a></p>
          </div>
          <div class="notfirst_rank_details_name work_info_font_color">
            <p>作者:<%= total[i].author_name %></p>
          </div>
        </div>
      <% } %>
    </div>
    <div class="link link_total">
      <input type="button" id="total_rank_button" class="link_button" value="総合ランキングをもっと見る"
        onclick="postRankview(0)" />
    </div>
  </div>
</section>

<!-- 恋愛ランキング -->
<section class="content_area category_rank">
  <h3 class="rank_ttl">恋愛ランキングベスト<span class="rank_number love_font">3</span></h3>
  <div class="content_block rank_card love_font">
    <% let loveNum=0 %>
    <% for(i=0; i<love.length; i++){ %>
      <% let loveNum=i+1 %>
    <div class="category_rank_card">
      <div class="category_rank_meta">
        <div class="category_rank_subordinate">
          <div class="category_rank_img">
            <img class="category_crown_img" border="0" src="img/crown/love.png" alt="crown_love" />
            <p class="category_ranks_mark"><%= loveNum %>位</p>
          </div>
          <div class="category_rank_point">
            <p class="notfirst_total_point "><%= love[i].global_point %>pt</p>
          </div>
        </div>
        <div class=" category_rank_category work_info_font_color">
          <p><%= love[i].genre_name %></p>
          <p>Nコード:<%= love[i].ncode %></p>
        </div>
      </div>
      <div class="category_rank_details_text">
        <p><a href="./details/author/<%= love[i].auther_id %>"><%= love[i].title %></a></p>
      </div>
      <div class="category_rank_author work_info_font_color">
        <div class="category_rank_author_name">
          <p>作者:</p>
        </div>
        <div class="category_rank_author_detail">
          <p><%= love[i].author_name %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="link link_love">
    <input type="button" id="total_rank_button" class="link_button" value="恋愛ランキングをもっと見る"
      onclick="postRankview(1)" />
  </div>
</section>
<!-- ファンタジーランキング -->
<section class="content_area category_rank">
  <h3 class="rank_ttl rank_ttl_long"><span>ファンタジーランキング</span><span>ベスト<span
        class="rank_number fantasy_font">3</span></span>
  </h3>
  <div class="content_block rank_card  fantasy_font">
    <% let fantasyNum=0 %>
    <% for(i=0; i<fantasy.length; i++){ %>
      <% let fantasyNum=i+1 %>
    <div class="category_rank_card">
      <div class="category_rank_meta">
        <div class="category_rank_subordinate">
          <div class="category_rank_img">
            <img class="category_crown_img" border="0" src="img/crown/fantasy.png" alt="crown_love" />
            <p class="category_ranks_mark"><%= fantasyNum %>位</p>
          </div>
          <div class="category_rank_point">
            <p class="notfirst_total_point"><%= fantasy[i].global_point %>pt</p>
          </div>
        </div>
        <div class="category_rank_category work_info_font_color">
          <p><%= fantasy[i].genre_name %></p>
          <p>Nコード:<%= fantasy[i].ncode %></p>
        </div>
      </div>
      <div class="category_rank_details_text">
        <p><a href="./details/author/386841"><%= fantasy[i].title %></a></p>
      </div>
      <div class="category_rank_author work_info_font_color">
        <div class="category_rank_author_name">
          <p>作者:</p>
        </div>
        <div class="category_rank_author_detail">
          <p><%= fantasy[i].author_name %></p>
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <div class="link link_fantasy">
    <input type="button" id="fantasy_rank_button" class="link_button link_long-text" value="ファンタジーランキングをもっと見る"
      onclick="postRankview(2)" />
  </div>
</section>
<!-- 文芸ランキング -->
<section class="content_area category_rank">
  <h3 class="rank_ttl">文芸ランキングベスト<span class="rank_number literary_font">3</span></h3>
  <div class="content_block rank_card literary_font">
    <% let literaryNum=0 %>
    <% for(i=0; i<literary.length; i++){ %>
      <% let literaryNum=i+1 %>
    <div class="category_rank_card">
      <div class="category_rank_meta">
        <div class="category_rank_subordinate">
          <div class="category_rank_img">
            <img class="category_crown_img" border="0" src="img/crown/literary.png" alt="crown_love" />
            <p class="category_ranks_mark"><%= literaryNum %>位</p>
          </div>
          <div class="category_rank_point">
            <p class="notfirst_total_point"><%= literary[i].global_point %>pt</p>
          </div>
        </div>
        <div class="category_rank_category work_info_font_color">
          <p><%= literary[i].genre_name %></p>
          <p>Nコード:<%= literary[i].ncode %></p>
        </div>
      </div>
      <div class="category_rank_details_text">
        <p><a href="./details/author/<%= literary[i].auther_id %>"><%= literary[i].title %></a></p>
      </div>
      <div class="category_rank_author work_info_font_color">
        <div class="category_rank_author_name">
          <p>作者:</p>
        </div>
        <div class="category_rank_author_detail">
          <p><%= literary[i].author_name %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="link link_literary">
    <input type="button" id="literary_rank_button" class="link_button" value="文芸ランキングをもっと見る"
      onclick="postRankview(3)" />
  </div>
</section>
<!-- SFランキング -->
<section class="content_area category_rank">
  <h3 class="rank_ttl">SFランキングベスト<span class="rank_number sf_font">3</span></h3>
  <div class="content_block rank_card sf_font">
    <% let sfNum=0 %>
    <% for(i=0; i<sf.length; i++){ %>
      <% let sfNum=i+1 %>
    <div class="category_rank_card">
      <div class="category_rank_meta">
        <div class="category_rank_subordinate">
          <div class="category_rank_img">
            <img class="category_crown_img" border="0" src="img/crown/sf.png" alt="crown_love" />
            <p class="category_ranks_mark"><%= sfNum %>位</p>
          </div>
          <div class="category_rank_point">
            <p class="notfirst_total_point"><%= sf[i].global_point %>pt</p>
          </div>
        </div>
        <div class="category_rank_category work_info_font_color">
          <p><%= sf[i].genre_name %></p>
          <p>Nコード:<%= sf[i].ncode %></p>
        </div>
      </div>
      <div class="category_rank_details_text">
        <p><a href="./details/author/<%= sf[i].auther_id %>"><%= sf[i].title %></a></p>
      </div>
      <div class="category_rank_author work_info_font_color">
        <div class="category_rank_author_name">
          <p>作者:</p>
        </div>
        <div class="category_rank_author_detail">
          <p><%= sf[i].author_name %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="link link_sf">
    <input type="button" id="sf_rank_button" class="link_button" value="SFランキングをもっと見る"
      onclick="postRankview(4)" />
  </div>
</section>
<!-- その他ランキング -->
<section class="content_area category_rank">
  <h3 class="rank_ttl">その他ランキングベスト<span class="rank_number other_font">3</span></h3>
  <div class="content_block rank_card other_font">
    <% let otherNum=0 %>
    <% for(i=0; i<other.length; i++){ %>
      <% let otherNum=i+1 %>
    <div class="category_rank_card">
      <div class="category_rank_meta">
        <div class="category_rank_subordinate">
          <div class="category_rank_img">
            <img class="category_crown_img" border="0" src="img/crown/other.png" alt="crown_love" />
            <p class="category_ranks_mark"><%= otherNum %>位</p>
          </div>
          <div class="category_rank_point">
            <p class="notfirst_total_point"><%= other[i].global_point %>pt</p>
          </div>
        </div>
        <div class="category_rank_category work_info_font_color">
          <p><%= other[i].genre_name %></p>
          <p>Nコード:<%= other[i].ncode %></p>
        </div>
      </div>
      <div class="category_rank_details_text">
        <p><a href="./details/author/<%= other[i].auther_id %>"><%= other[i].title %></a></p>
      </div>
      <div class="category_rank_author work_info_font_color">
        <div class="category_rank_author_name">
          <p>作者:</p>
        </div>
        <div class="category_rank_author_detail">
          <p><%= other[i].author_name %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="link link_other">
    <input type="button" id="other_rank_button" class="link_button" value="その他ランキングをもっと見る"
      onclick="postRankview(99)" />
  </div>
</section>
<!-- ノンジャンルランキング -->
<section class="content_area category_rank">
  <h3 class="rank_ttl rank_ttl_long"><span>ノンジャンルランキング</span><span>ベスト<span
        class="rank_number nonGenre_font">3</span></span></h3>
  <div class="content_block rank_card nonGenre_font">
    <% let nonGenreNum=0 %>
    <% for(i=0; i<nonGenre.length; i++){ %>
    <% let nonGenreNum=i+1 %>
    <div class="category_rank_card">
      <div class="category_rank_meta">
        <div class="category_rank_subordinate">
          <div class="category_rank_img">
            <img class="category_crown_img" border="0" src="img/crown/non-genre.png" alt="crown_love" />
            <p class="category_ranks_mark"><%= nonGenreNum %>位</p>
          </div>
          <div class="category_rank_point">
            <p class="notfirst_total_point"><%= nonGenre[i].global_point %>pt</p>
          </div>
        </div>
        <div class="category_rank_category work_info_font_color">
          <p><%= nonGenre[i].genre_name %></p>
          <p>Nコード:<%= nonGenre[i].ncode %></p>
        </div>
      </div>
      <div class="category_rank_details_text">
        <p><a href="./details/author/<%= other[i].auther_id %>"><%= other[i].title %></a></p>
      </div>
      <div class="category_rank_author work_info_font_color">
        <div class="category_rank_author_name">
          <p>作者:</p>
        </div>
        <div class="category_rank_author_detail">
          <p><%= other[i].auther_name %></p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <div class="link link_non-genre">
    <input type="button" id="non-genre_rank_button" class="link_button link_long-text" value="ノンジャンルランキングをもっと見る"
      onclick="postRankview(98)" />
  </div>
</section>